{% extends "app/base.html" %}
{% load  widget_tweaks %}

{% block content %}
    <section class="button">
        <div class="button__title">jQueryUI modal</div>
        <div class="button__area">
                <div class="button__area">
            <button id="button__click__car" class="button__click">Click</button>
        </div>

    <div id="click__modal" style="display:none;">

<form id="click__confirm" class="click__confirm" autocomplete="off" action="{% url 'app:car_form' %}" method="POST">
               {% csrf_token %}
                <div class="click__label">Style</div>
               {% render_field form.style class="form_field"%}
                <div class="click__label">Manufacturer</div>
                {% render_field form.manufacturer class="form_field" %}
                <div class="click__label">Model</div>
               {% render_field form.model class="form_field"%}
                <div class="click__label">Engine cc</div>
                {% render_field form.engine_cc class="form_field" %}
            </form>

        <div id="message" class="success_message"></div>
        </div>
        </div>
    </section>
{% endblock %}