<!-- This is button contact button -->
<script>
    $(function() {
    $("#button__click__contact").on("click", function(e) {
        e.preventDefault();
        $("#click__modal").dialog({
                modal: true,
                height: "auto",
                width: "30vw",
                title: "Contact Form",
                buttons: {
                    "Send contact": sendContact,
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            }
        )
    });
});

        <!-- This is function for contact form -->
 function sendContact(){
    $.ajax({
        type: 'POST',
        url: "{% url 'app:contact_form' %}",
        data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            name:$('#name').val(),
            {#email:$('#id_email').val(),#}
            {#subject:$('#id_subject').val(),#}
            {#message:$('#id_message').val(),#}
        },
        success: function(data){
            if(data['status']==="error"){
                $('#message').text('Error!');
                return false
            }
            $('#name').val("");
            {#$('#id_email').val("");#}
            {#$('#id_subject').val("");#}
            {#$('#id_message').val("");#}
            $('#message').text('Success send!');
        },
        error: function(error){
            console.log(error)
        },
    })
}


<!-- This is button for car -->

    $(function() {
    $("#button__click__car").on("click", function(e) {
        e.preventDefault();
        $("#click__modal").dialog({
                modal: true,
                height: "auto",
                width: "30vw",
                title: "Please add car model.",
                buttons: {
                    "Add Car": addCar, //Be careful here!
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            }
        )
    });
});

    <!-- This is function for car -->
 function addCar(){
    $.ajax({
        type: 'POST',
        url: "{% url 'app:car_form' %}",
        data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            style:$('#id_style').val(),
            manufacturer:$("#id_manufacturer").val(),
            model:$("#id_model").val(),
            engine_cc:$("#id_engine_cc").val(),

        },
        success: function(data){
            if(data['status']==="error"){
                $('#message').text('Error!');
                return false
            }
            $('#id_style').val("");
            $("#id_manufacturer").val("");
            $("#id_model").val("");
            $('#id_engine_cc').val("");
            $('#message').text('Success!');
        },
        error: function(error){
            console.log(error)
        },
    })
}



   $(function() {
   $("#button__click").on("click", function(e) {
       e.preventDefault();
       $("#click__modal").dialog({
               modal: true,
               height: "auto",
               width: "30vw",
               title: "Please add number!",
               buttons: {
                   "Add Number": addNumber, //Be careful here!
                   "Cancel": function () {
                       $(this).dialog("close");
                   }
               }
           }
       )
   });
});

function addNumber(){
           $.ajax({
               type: 'POST',
               url: "{% url 'app:form_test' %}",
               data:{
                   csrfmiddlewaretoken:'{{ csrf_token }}',
                   username:$('#id_username').val(),
                   number:$('#id_number').val(),
               },
           success: function(data){

                   if(data['status']==="error"){
                    $('#message').text('Error!');
                       return false
                   }

                   $('#id_username').val("")
                   $('#id_number').val("")
                   $('#message').text('Success!');
               },
           error: function(error){
               console.log(error)
           },
           })
   }

</script>