<!-- This is button contact button -->
<script>
    $(function() {
    $("#button__click__contact").on("click", function(e) {
        e.preventDefault();
        $("#click__modal").dialog({
                modal: true,
                height: "auto",
                width: "30vw",
                title: "Contact Form",
                buttons: {
                    "Send contact": sendContact,
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            }
        )
    });
});

        <!-- This is function for contact form -->
 function sendContact(){
    $.ajax({
        type: 'POST',
        url: "{% url 'app:contact_form' %}",
        data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            name:$('#name').val(),
            email:$('#email').val(),
            subject:$('#subject').val(),
            message:$('#message').val(),
        },
        success: function(data){
            if(data['status']==="error"){
                $('#id_message').text('Error!');
                return false
            }
            $('#name').val("");
            $('#email').val("");
            $('#subject').val("");
            $('#message').val("");
            $('#id_message').text('Success send!');
        var successMsg = '<div id="success-modal" class="modal fade" tabindex="-1" role="dialog">' +
          '<div class="modal-dialog" role="document">' +
          '<div class="modal-content">' +
          '<div class="modal-header">' +
          '<h5 class="modal-title">Message Sent Successfully</h5>' +
            '<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>' +
          '</button>' +
          '</div>' +
          '<div class="modal-body">' +
          '<p>Thank you for contacting us. We will get back to you as soon as possible.</p>' +
          '</div>' +
          '<div class="modal-footer">' +
          '<button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>' +
          '</div>' +
          '</div>' +
          '</div>' +
          '</div>';
        $('body').append(successMsg);
        $('#success-modal').modal('show');
        $('#click__modal').modal('hide');
        },
        error: function(error){
            console.log(error)
        },
    })
}


<!-- This is button for car -->

    $(function() {
    $("#button__click__car").on("click", function(e) {
        e.preventDefault();
        $("#click__modal").dialog({
                modal: true,
                height: "auto",
                width: "30vw",
                title: "Please add car model.",
                buttons: {
                    "Add Car": addCar, //Be careful here!
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            }
        )
    });
});

    <!-- This is function for car -->
 function addCar(){
    $.ajax({
        type: 'POST',
        url: "{% url 'app:car_form' %}",
        data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            style:$('#id_style').val(),
            manufacturer:$("#id_manufacturer").val(),
            model:$("#id_model").val(),
            engine_cc:$("#id_engine_cc").val(),

        },
        success: function(data){
            if(data['status']==="error"){
                $('#message').text('Error!');
                return false
            }
            $('#id_style').val("");
            $("#id_manufacturer").val("");
            $("#id_model").val("");
            $('#id_engine_cc').val("");
            $('#message').text('Success!');
        },
        error: function(error){
            console.log(error)
        },
    })
}



   $(function() {
   $("#button__click").on("click", function(e) {
       e.preventDefault();
       $("#click__modal").dialog({
               modal: true,
               height: "auto",
               width: "30vw",
               title: "Please add number!",
               buttons: {
                   "Add Number": addNumber, //Be careful here!
                   "Cancel": function () {
                       $(this).dialog("close");
                   }
               }
           }
       )
   });
});

function addNumber(){
           $.ajax({
               type: 'POST',
               url: "{% url 'app:form_test' %}",
               data:{
                   csrfmiddlewaretoken:'{{ csrf_token }}',
                   username:$('#id_username').val(),
                   number:$('#id_number').val(),
               },
           success: function(data){

                   if(data['status']==="error"){
                    $('#message').text('Error!');
                       return false
                   }

                   $('#id_username').val("")
                   $('#id_number').val("")
                   $('#message').text('Success!');
               },
           error: function(error){
               console.log(error)
           },
           })
   }

</script>